<!doctype html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>
  <body>
    <main>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <% include ./partials/navigation.ejs %>
      </nav>

      <div class="featuredBoard container">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-7" style="margin-top: 80px;">
                  <form method="post" action="/student/<%= student.data.username %>/edit">
                    <h2 style="text-align: center; margin-bottom: 30px;">Update Student </h2>
                    <div class="form-row">
                      <div class="col">
                          <label for="firstName">First Name </label>
                          <input type="text" class="form-control"
                          value="<%= student.data.firstName ? student.data.firstName: ' ' %>"
                          name="firstName" required>
                      </div>
                      <div class="col">
                          <label for="middleName">Middle Name </label>
                          <input type="text" class="form-control"
                          value="<%= student.data.middleName ? student.data.middleName: ' ' %>"
                          name="middleName">
                      </div>

                    </div>
                    <br />
                    <div class="form-row">
                      <div class="col">
                          <label for="lastName">Last Name </label>
                          <input type="text" class="form-control"
                          value="<%= student.data.lastName ? student.data.lastName: ' ' %>"
                          name="lastName" required>
                      </div>

                      <div class="col">
                        <label for="email">Email </label>
                        <input type="email" class="form-control"
                        value="<%= student.data.email ? student.data.email :  ' ' %>"
                        name="email" required>
                      </div>

                    </div>

                    <br />
                    <div class="form-row">
                      <div class="col">
                        <label for="username">Username </label>
                        <input type="text" class="form-control"
                        value="<%= student.data.username ? student.data.username : ' ' %>"="Username"
                        name="username" readonly>
                      </div>

                      <div class="col">
                        <label for="nationality">Nationality </label>
                        <input type="text" class="form-control"
                        value="<%= student.data.nationality ? student.data.nationality: ' ' %>"
                        name="nationality" >
                      </div>
                    </div>

                    <br />
                    <div class="form-row">
                      <div class="col">
                        <label for="gender">Gender </label>
                        <input type="text" class="form-control" value="<%= student.data.gender ? student.data.gender: ' ' %>" name="gender" required>
                      </div>
                    </div>
                    <br />
                    <input type="submit" class="btn btn-primary" id="update-student" value="Update Record">

                  </form>
                </div>
                <div class="col-sm-3"></div>
            </div>
          </div><!--/col-12-->
        </div><!--/row-->
      </div><!-- ./container -->

      <!-- Include Modals in another file -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Sign In</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="username" class="form-control-label">Username:</label>
                  <input type="text" class="form-control" name="username" id="username">
                </div>

                <div class="form-group">
                  <label for="password" class="form-control-label">Password:</label>
                  <input type="password" class="form-control" id="password" name="password" />
                </div>
            </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-success">Login</button>
            </div>
          </div>
        </div>
      </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="/scripts/events.js"></script>
  </body>
</html>
